{% extends "_base.html" %}
{% load static %}
{% block title %}
  Instructors Timetable
{% endblock title %}
{% load compress %}
{% block content %}
  {% include "../includes/_navbar.html" %}
  {% include "../includes/_share_schedule_to_instructor.html" %}
  {% include "../includes/_add_extra_instructor_modal.html" %}
  {% include "../includes/_unassign_instructor_modal.html" %}
  {% include "../includes/_required_fields_modal.html" %}
  {% if view_mode == 'table' %}
      {% include "../includes/_unassign_course_modal.html" %}
      {% include "../includes/_assign_extra_courses_modal.html" %}
      {% include "../includes/_info_modal_for_instructor.html" %}
      {% include "../includes/_assign_schedule_modal.html" %}
      {% include "../includes/_delete_schedule_in_timetable_modal.html" %}
  {% else %}
      {% include "../includes/_edit_schedule_for_instructor_modal.html" %}
  {% endif %}
  {% include "partials/_spinner.html" %}
  <div class="w-full lg:ps-64 bg-gray-100 h-full">
    <div class="p-6 space-y-3">
      <p class="text-2xl font-extrabold text-gray-900">Generated Schedule</p>
      <div class="flex">
        <div class="flex bg-gray-200 rounded-lg transition p-1">
          <nav class="flex gap-x-2">
            <a class="py-3 px-4 inline-flex items-center gap-2 bg-transparent text-sm text-gray-500 hover:text-gray-700 font-medium rounded-lg hover:hover:text-blue-600 focus:outline-none focus:hover:text-blue-600"
               href="{% url 'timetable:scheduler-classrooms' result_identification %}?classroom_id={{ selected_classroom_id }}&classroom_type={{ selected_classroom_type|default:'all' }}">Classrooms Timetable</a>
            <a class="py-3 px-4 inline-flex items-center gap-2 bg-transparent text-sm text-gray-500 hover:text-gray-700 font-medium rounded-lg hover:hover:text-blue-600 focus:outline-none focus:hover:text-blue-600"
               href="{% url 'timetable:scheduler-class-groups' result_identification %}?class_group_id={{ selected_class_group_id }}&year_level={{ selected_year_level }}">Class Set Timetable</a>
            <a class="py-3 px-4 inline-flex items-center gap-2 bg-white text-sm text-gray-700 font-medium rounded-lg shadow-sm focus:outline-none"
               href="{% url 'timetable:scheduler-instructors' result_identification %}?instructor_id={{ selected_instructor_id }}&view={{ view_mode }}"
               aria-current="page">Instructors Timetable </a>
            <a class="py-3 px-4 inline-flex items-center gap-2 bg-transparent text-sm text-gray-500 hover:text-gray-700 font-medium rounded-lg hover:hover:text-blue-600 focus:outline-none focus:hover:text-blue-600"
               href="{% url 'timetable:list-of-conflicts' result_identification %}">List of Conflicts</a>
          </nav>
        </div>
      </div>
      {% compress js %}
        <script>
              document.addEventListener('DOMContentLoaded', function() {
                const links = document.querySelectorAll('a[href*="timetable"]');
                const spinner = document.getElementById('loading-spinner');

                links.forEach(link => {
                  link.addEventListener('click', function(event) {
                    spinner.classList.remove('hidden');
                  });
                });

                window.addEventListener('load', function() {
                  spinner.classList.add('hidden');
                });
              });

              function openPrintWindow(event, url) {
                event.preventDefault();
                
                const spinner = document.getElementById('loading-spinner');
                spinner.classList.remove('hidden');
                
                fetch(url)
                  .then(response => {
                    const disposition = response.headers.get('Content-Disposition');
                    let filename = '';
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                      const filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                      const matches = filenameRegex.exec(disposition);
                      if (matches != null && matches[1]) {
                        filename = matches[1].replace(/['"]/g, '');
                      }
                    }
                    return response.blob().then(blob => ({ blob, filename }));
                  })
                  .then(({ blob, filename }) => {
                    const downloadLink = document.createElement('a');
                    const objectURL = URL.createObjectURL(blob);
                    downloadLink.href = objectURL;
                    downloadLink.download = filename || 'download'; // Use the extracted filename or a default name
                    document.body.appendChild(downloadLink);
                    downloadLink.click();
                    document.body.removeChild(downloadLink);
                    URL.revokeObjectURL(objectURL);
                  })
                  .catch(error => {
                    console.error('Error downloading the file:', error);
                  })
                  .finally(() => {
                    spinner.classList.add('hidden');
                  });
              }
        </script>
      {% endcompress js %}
      <div class="flex justify-between items-center gap-x-2 px-6 py-4 bg-white border rounded-lg">
        <div class="flex-shrink-0 group block">
          <div class="flex items-center">
            {% if selected_instructor %}
              <img class="inline-block flex-shrink-0 size-[62px] rounded-full"
                   src="{% if selected_instructor.profile_image %}{{ selected_instructor.profile_image.url }}{% else %}https://ui-avatars.com/api/?name={{ selected_instructor.first_name|cut:' ' }}{% if selected_instructor.middle_name %}{{ selected_instructor.middle_name }}{% endif %}{{ selected_instructor.last_name }}&background=random{% endif %}"
                   alt="{{ selected_instructor.get_full_name }}">
            {% else %}
              <img class="inline-block flex-shrink-0 size-[62px] rounded-full"
                   src="{% static '/images/account/default-avatar.jpg' %}"
                   alt="{{ selected_instructor.get_full_name }}">
            {% endif %}
            <div class="ms-3">
              <h3 class="font-semibold text-gray-800 uppercase">
                {{ selected_instructor.first_name }}
                {% if selected_instructor.middle_name %}{{ selected_instructor.middle_name }}{% endif %}
                {{ selected_instructor.last_name }}
              </h3>
              <p class="text-sm font-medium text-gray-400 lowercase">{{ selected_instructor.email }}</p>
            </div>
          </div>
        </div>
        <div class="flex gap-x-2">
          <form method="get" class="flex" id="instructorForm">
            <select name="instructor_id"
                    id="instructor_id"
                    class="py-3 px-4 pe-9 block max-w-full border-gray-200 rounded-s-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300">
              {% for instructor in instructors %}
                <option value="{{ instructor.instructor_id }}"
                        {% if instructor.instructor_id|stringformat:"s" == selected_instructor_id|stringformat:"s" %}selected{% endif %}>
                  {{ instructor.instructor_name }}
                </option>
              {% endfor %}
            </select>
            <input type="hidden" name="view" value="{{ view_mode }}">
            <button type="submit"
                    class="py-2 px-3 inline-flex items-center text-sm font-medium rounded-e-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   class="bi bi-search me-2"
                   viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
              </svg>
              Find instructor
            </button>
          </form>
          <button data-id="{{ selected_instructor_id }}"
                  data-hs-overlay="#add-new-instructor"
                  type="button"
                  class="py-3 px-3 inline-flex items-center text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-person-plus me-1"
                 viewBox="0 0 16 16">
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
            </svg>
            Add instructor
          </button>
        </div>
      </div>
      <div class="px-6 py-4 bg-white border rounded-lg">
        <div>
          <div class="flex gap-x-2 justify-end">
            {% if view_mode == 'table' %}
              <a href="?instructor_id={{ selected_instructor_id }}&view=grid"
                 class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-grid-3x2-gap-fill"
                     viewBox="0 0 16 16">
                  <path d="M1 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM1 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                </svg>
                Grid View
              </a>
            {% else %}
              <a href="?instructor_id={{ selected_instructor_id }}&view=table"
                 class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-card-list"
                     viewBox="0 0 16 16">
                  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                  <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
                </svg>
                Table View
              </a>
            {% endif %}
            {% if instructor_timetable %}
              <a href="{% url 'timetable:generate_pdf' result_identification selected_instructor_id %}"
                 class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                 onclick="openPrintWindow(event, this.href);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
</svg>
                Download Schedule
              </a>
            {% else %}
              <button disabled
                      type="button"
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                      disabled>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
</svg>
                Download Schedule
              </button>
            {% endif %}
            {% if view_mode == 'table' %}


               <button data-instructor-id="{{ selected_instructor_id }}"
                    data-result-identification="{{ result_identification }}"
                    data-user-program="{{ request.user.program.program_id }}"
                    data-hs-overlay="#assign-course"
                    type="button"
                    class="assignCourseButton py-2 px-3 inline-flex items-center text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   class="bi bi-folder-plus me-1"
                   viewBox="0 0 16 16">
                <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z" />
                <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5" />
              </svg>
              Assign course
            </button>
              {% else %}
                                         <button type="button"
                      data-hs-overlay="#add-schedule-in-classroom"
                     class="assignCourseButton py-2 px-3 inline-flex items-center text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   class="bi bi-folder-plus me-1"
                   viewBox="0 0 16 16">
                <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z" />
                <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5" />
              </svg>
              Assign course
              </button>
            {% endif %}
            <button data-id="{{ selected_instructor_id }}"
                    data-hs-overlay="#unassign-instructor"
                    type="button"
                    class="py-2 px-3 inline-flex items-center text-sm font-semibold rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 disabled:opacity-50 disabled:pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   class="bi bi-person-dash me-1"
                   viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
              </svg>
              Unassign instructor
            </button>
            {% if is_shared %}
              <button data-id="{{ selected_instructor_id }}"
                      data-hs-overlay="#share-schedule"
                      type="button"
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 disabled:opacity-50 disabled:pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-send-slash"
                     viewBox="0 0 16 16">
                  <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z" />
                  <path d="M14.975 10.025a3.5 3.5 0 1 0-4.95 4.95 3.5 3.5 0 0 0 4.95-4.95m-4.243.707a2.5 2.5 0 0 1 3.147-.318l-3.465 3.465a2.5 2.5 0 0 1 .318-3.147m.39 3.854 3.464-3.465a2.501 2.501 0 0 1-3.465 3.465Z" />
                </svg>
                Unshare schedule
              </button>
            {% else %}
              <button data-id="{{ selected_instructor_id }}"
                      data-hs-overlay="#share-schedule"
                      type="button"
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-send"
                     viewBox="0 0 16 16">
                  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                </svg>
                Share schedule
              </button>
            {% endif %}
          </div>
        </div>
        {% if conflicts %}
          <div class="bg-red-50 border mt-3 border-red-200 text-sm text-red-800 rounded-lg p-4"
               role="alert"
               tabindex="-1"
               aria-labelledby="hs-with-list-label">
            <div class="flex">
              <div class="shrink-0">
                <svg class="shrink-0 size-4 mt-0.5"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                  <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                  <path d="M12 9v4"></path>
                  <path d="M12 17h.01"></path>
                </svg>
              </div>
              <div class="ms-4">
                <h3 id="hs-with-list-label" class="text-sm font-semibold">
                  {% if total_conflicts == 1 %}
                    There is {{ total_conflicts }} conflict in the class schedule. Please resolve it.
                  {% else %}
                    There are {{ total_conflicts }} conflicts in the class schedule. Please resolve them.
                  {% endif %}
                </h3>
                <div class="mt-2 text-sm text-red-700">
                  <ul class="list-disc space-y-1 ps-5">
                    {% for conflict in conflicts %}<li>{{ conflict|safe }}</li>{% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if warnings %}
          <div class="bg-yellow-50 border mt-3 border-yellow-200 text-sm text-yellow-800 rounded-lg p-4"
               role="alert"
               tabindex="-1"
               aria-labelledby="hs-with-description-label">
            <div class="flex">
              <div class="shrink-0">
                <svg class="shrink-0 size-4 mt-0.5"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                  <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                  <path d="M12 9v4"></path>
                  <path d="M12 17h.01"></path>
                </svg>
              </div>
              <div class="ms-4">
                <h3 id="hs-with-description-label" class="text-sm font-semibold">
                {% if warnings.0 == "Instructor is overloaded with schedules." %}
                      Instructor is overloaded with schedules.
                    {% else %}
                  {% if total_warnings == 1 %}
                      There is {{ total_warnings }} course that does not have assigned class groups, days, times, or rooms. Please assign it.
                    {% else %}
                    There are {{ total_warnings }} courses that do not have assigned class groups, days, times, or rooms. Please assign them.
                  {% endif %}
                  {% endif %}
                </h3>
                <div class="mt-1 text-sm text-yellow-700">
                  <ul class="list-disc space-y-1 ps-5">
                    {% for warning in warnings %}<li>{{ warning|safe }}</li>{% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
 {% if message_displayed %}
        <div class="bg-blue-50 border mt-3 border-blue-200 text-sm text-blue-800 rounded-lg p-4"
               role="alert"
               tabindex="-1"
               aria-labelledby="hs-with-description-label">
            <div class="flex">
              <div class="shrink-0">
                <svg class="shrink-0 size-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <path d="M12 16v-4"></path>
        <path d="M12 8h.01"></path>
      </svg>
              </div>
              <div class="ms-4">
                <h3 id="hs-with-description-label" class="text-sm font-semibold">
               Information
                </h3>
                <div class="mt-1 text-sm text-blue-700">
                  <ul class="list-disc space-y-1 ps-5">
                    {% if message_displayed %}
                      <li>Assigning a course schedule to a class set with an existing schedule will merge both schedules.</li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}
        {% comment %} Table View {% endcomment %}
        {% if view_mode == 'table' %}
          <div class="flex flex-col mt-3">
            <div class="overflow-hidden -m-1.5 overflow-x-auto [&::-webkit-scrollbar]:h-3 [&::-webkit-scrollbar-thumb]:rounded-full   [&::-webkit-scrollbar-thumb]:bg-gray-300">
              <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-primary-600">
                      <tr>
                        <th scope="col" class="px-6 py-3 text-start">
                          <span class="text-xs font-semibold uppercase tracking-wide text-white whitespace-nowrap">Course Code</span>
                        </th>
                        <th scope="col" class="px-3 py-3 text-start">
                          <span class="text-xs font-semibold uppercase tracking-wide text-white whitespace-nowrap">Course Description</span>
                        </th>
                        <th scope="col" class="px-3 py-3 text-start">
                          <span class="text-xs font-semibold uppercase tracking-wide text-white whitespace-nowrap">Class Set</span>
                        </th>
                        <th scope="col" class="px-3 py-3 text-start">
                          <span class="text-xs font-semibold uppercase tracking-wide text-white whitespace-nowrap">Schedule</span>
                        </th>
                        <th scope="col" class="px-3 py-3 text-start">
                          <span class="text-xs font-semibold uppercase tracking-wide text-white whitespace-nowrap">Units</span>
                        </th>
                        <th scope="col" class="px-3 py-3 text-start">
                          <span class="text-xs font-semibold uppercase tracking-wide text-white whitespace-nowrap">Actions</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                      {% if instructor_timetable or assignments %}
                        {% for item in instructor_timetable %}
                          <tr class="hover:bg-gray-50 odd:bg-white even:bg-gray-100">
                            <td class="size-px whitespace-nowrap">
                              <div class="px-6 py-2">
                                <div class="block text-sm text-gray-800">{{ item.course_code }}</div>
                              </div>
                            </td>
                            <td class="size-px whitespace-nowrap">
                              <div class="px-2 py-2">
                                <div class="block text-sm text-gray-800">{{ item.course_description }}</div>
                              </div>
                            </td>
                            <td class="size-px whitespace-nowrap">
                              <div class="px-2 py-2">
                                <div class="block text-sm text-gray-800">
                                  {% if item.class_group_name %}
                                    {{ item.class_group_name }}
                                  {% else %}
                                    <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800">No Class Group Assigned</span>
                                  {% endif %}
                                </div>
                              </div>
                            </td>
                            <td class="size-px whitespace-nowrap">
                              <div class="px-2 py-2">
                                <div class="block text-sm text-gray-800">
                                  <ul class="text-sm">
                                    {% for schedule_item in item.schedule %}<li>{{ schedule_item }}</li>{% endfor %}
                                  </ul>
                                </div>
                              </div>
                              <td class="size-px whitespace-nowrap">
                                <div class="px-2 py-2">
                                  <div class="block text-sm text-gray-800">{{ item.units }}</div>
                                </div>
                              </td>
                              <td class="size-px whitespace-nowrap">
                                <div class="pe-6 py-2 flex items-center justify-center">
                                  <div class="hs-dropdown [--placement:bottom-right] relative inline-block">
                                    <button id="hs-table-dropdown-1"
                                            type="button"
                                            class="hs-dropdown-toggle py-1.5 px-2 inline-flex justify-center items-center gap-2 rounded-lg text-gray-700 align-middle disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-primary-600 transition-all text-sm"
                                            aria-haspopup="menu"
                                            aria-expanded="false"
                                            aria-label="Dropdown">
                                      <svg class="shrink-0 size-4"
                                           xmlns="http://www.w3.org/2000/svg"
                                           width="24"
                                           height="24"
                                           viewBox="0 0 24 24"
                                           fill="none"
                                           stroke="currentColor"
                                           stroke-width="2"
                                           stroke-linecap="round"
                                           stroke-linejoin="round">
                                        <circle cx="12" cy="12" r="1" />
                                        <circle cx="19" cy="12" r="1" />
                                        <circle cx="5" cy="12" r="1" />
                                      </svg>
                                    </button>
                                    <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden divide-y divide-gray-200 min-w-40 z-20 bg-white shadow-2xl rounded-lg p-2 mt-2"
                                         role="menu"
                                         aria-orientation="vertical"
                                         aria-labelledby="hs-table-dropdown-1">
                                      <div class="py-2 first:pt-0 last:pb-0">
                                        <span class="block py-2 px-3 text-xs font-medium uppercase text-gray-400">Actions</span>
                                        <button aria-haspopup="dialog"
                                                aria-expanded="false"
                                                aria-controls="hs-scale-animation-modal"
                                                data-hs-overlay="#assign-schedule"
                                                data-result-identification="{{ result_identification }}"
                                                data-year-level="{{ item.year_level }}"
                                                data-result-course-id="{{ item.result_course_id }}"
                                                data-course-id="{{ item.course_id }}"
                                                data-course-code="{{ item.course_code }}"
                                                data-course-description="{{ item.course_description }}"
                                                data-instructor-name="{{ selected_instructor.get_full_name }}"
                                                data-instructor-id="{{ selected_instructor_id }}"
                                                data-class-group-id="{{ item.class_group_id }}"
                                                class="assign-schedule-button w-full flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
</svg>Edit schedule
                                        </button>
                                      </div>
                                      <div class="py-2 first:pt-0 last:pb-0">
                                        <button aria-haspopup="dialog"
                                                aria-expanded="false"
                                                aria-controls="hs-scale-animation-modal"
                                                data-hs-overlay="#delete_schedule_in_timetable"
                                                data-result-time-table-id="{{ item.result_id }}"
                                                data-course-description="{{ item.course_description }}"
                                                class="w-full flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-primary-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg> Delete Schedule
                                        </button>
                                        <button aria-haspopup="dialog"
                                                aria-expanded="false"
                                                aria-controls="hs-scale-animation-modal"
                                                data-hs-overlay="#unassign-course"
                                                data-result-time-table-id="{{ item.result_id }}"
                                                data-course-description="{{ item.course_description }}"
                                                class="w-full flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-primary-500">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
  <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
</svg>Unassign Course
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                          {% for assignment in assignments %}
                            <tr class="hover:bg-gray-50 odd:bg-white even:bg-gray-100">
                              <td class="size-px whitespace-nowrap">
                                <div class="px-6 py-2">
                                  <div class="block text-sm text-gray-800">{{ assignment.course_id__course_code }}</div>
                                </div>
                              </td>
                              <td  class="size-px whitespace-nowrap">
                                <div class="px-2 py-2">
                                  <div class="block text-sm text-gray-800">{{ assignment.course_id__course_description }}</div>
                                </div>
                              </td>
                              <td  class="size-px whitespace-nowrap">
                                <div class="px-2 py-2">
                                  <div class="block text-sm text-gray-800"><span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800">No Class Group Assigned</span></div>
                                </div>
                              </td>
                              <td class="size-px whitespace-nowrap">
                                <div class="px-2 py-2">
                                  <div class="block text-sm text-gray-800"><span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800">No Assigned Schedule</span></div>
                                </div>
                              </td>
                              <td class="size-px whitespace-nowrap">
                                <div class="px-2 py-2">
                                  <div class="block text-sm text-gray-800">{{ assignment.course_id__credit_units }}</div>
                                </div>
                              </td>
                            </td>
                            <td class="size-px whitespace-nowrap">
                              <div class="pe-6 py-2 flex items-center justify-center">
                                <div class="hs-dropdown [--placement:bottom-right] relative inline-block">
                                  <button id="hs-table-dropdown-1"
                                          type="button"
                                          class="hs-dropdown-toggle py-1.5 px-2 inline-flex justify-center items-center gap-2 rounded-lg text-gray-700 align-middle disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-primary-600 transition-all text-sm"
                                          aria-haspopup="menu"
                                          aria-expanded="false"
                                          aria-label="Dropdown">
                                    <svg class="shrink-0 size-4"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor"
                                         stroke-width="2"
                                         stroke-linecap="round"
                                         stroke-linejoin="round">
                                      <circle cx="12" cy="12" r="1" />
                                      <circle cx="19" cy="12" r="1" />
                                      <circle cx="5" cy="12" r="1" />
                                    </svg>
                                  </button>
                                  <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden divide-y divide-gray-200 min-w-40 z-20 bg-white shadow-2xl rounded-lg p-2 mt-2"
                                       role="menu"
                                       aria-orientation="vertical"
                                       aria-labelledby="hs-table-dropdown-1">
                                    <div class="py-2 first:pt-0 last:pb-0">
                                      <span class="block py-2 px-3 text-xs font-medium uppercase text-gray-400">Actions</span>
                                      <button aria-haspopup="dialog"
                                              aria-expanded="false"
                                              aria-controls="hs-scale-animation-modal"
                                              data-hs-overlay="#assign-schedule"
                                              data-result-identification="{{ result_identification }}"
                                              data-year-level="{{ assignment.course_id__year_level }}"
                                              data-result-course-id="{{ assignment.course_id__result_id }}"
                                              data-course-id="{{ assignment.course_id__course_id }}"
                                              data-course-code="{{ assignment.course_id__course_code }}"
                                              data-course-description="{{ assignment.course_id__course_description }}"
                                              data-instructor-name="{{ selected_instructor.get_full_name }}"
                                              data-instructor-id="{{ selected_instructor_id }}"
                                              data-initial-assignment-id="{{ assignment.assignment_id }}"
                                              class="assign-schedule-button w-full flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
</svg>Assign schedule
                                      </button>
                                    </div>
                                    <div class="py-2 first:pt-0 last:pb-0">
                                      <button aria-haspopup="dialog"
                                              aria-expanded="false"
                                              aria-controls="hs-scale-animation-modal"
                                              data-hs-overlay="#unassign-course"
                                              data-initial-assignment-id="{{ assignment.assignment_id }}"
                                              data-course-description="{{ assignment.course_id__course_description }}"
                                              class="w-full flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-primary-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
  <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
</svg> Unassign Course
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                        <tr class="bg-white">
                          <td colspan="4" class="size-px whitespace-nowrap">
                            <div class="px-6 py-3">
                              <div class="block text-sm text-end text-gray-800 font-semibold">Total Units:</div>
                            </div>
                          </td>
                          <td class="size-px whitespace-nowrap">
                            <div class="px-2 py-3">
                              <div class="block text-sm text-gray-800 font-semibold text-start">{{ combined_total_units }}</div>
                            </div>
                          </td>
                        </tr>
                      {% else %}
                        <tr id="no-results-row">
                          <td colspan="10">
                            <div class="min-h-60 flex flex-col mt-2">
                              <div class="flex flex-auto flex-col justify-center items-center p-4 md:p-5">
                                <svg class="size-10 text-gray-500"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="1"
                                     stroke-linecap="round"
                                     stroke-linejoin="round">
                                  <line x1="22" x2="2" y1="12" y2="12"></line>
                                  <path d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                                  </path>
                                  <line x1="6" x2="6.01" y1="16" y2="16"></line>
                                  <line x1="10" x2="10.01" y1="16" y2="16"></line>
                                </svg>
                                <p id="no-data-message-3" class="mt-2 text-sm text-gray-800">No schedule has been assigned.</p>
                              </div>
                            </div>
                          </td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                  {% comment %} Grid View {% endcomment %}
                {% else %}
                  <div class="mt-3">
                    <div class="p-3 sm:p-0">
                      <div class="grid grid-cols-[80px_repeat(6,_1fr)] grid-rows-[auto_repeat(14,_50px)] gap-1 p-5 bg-white border border-gray-300 rounded-lg mt-3"
                           id="timetable">
                        <div></div>
                        {% for day in days %}
                          <div class="text-center font-bold p-2 border-b border-gray-300 text-sm">{{ day }}</div>
                        {% endfor %}
                        <!-- Time slots on the left side -->
                        {% for period in periods %}
                          <div class="col-start-1 flex items-center justify-center text-gray-500 text-xs border-t border-gray-300 p-1 h-12">
                            {{ period }}
                          </div>
                        {% endfor %}
                        {% for entry in instructor_timetable %}
                          {% for view in entry.timetable_view %}
                            <button id="cards"
                                    class="timetable-entry rounded-lg p-2 text-white text-xs flex flex-col justify-center items-center cursor-pointer {% if view.timetable_result_detail_id in conflicting_ids %} bg-red-600 {% elif view.timetable_result_detail_id in no_schedule_or_room_ids %} bg-yellow-400 {% else %} bg-primary-600 {% endif %}"
                                    type="button"
                                    data-hs-overlay="#edit-schedule-for-instructor"
                                    data-days="{{ view.meeting_day }}"
                                    data-time="{{ view.meeting_time }}"
                                    data-room-name="{{ view.room_name }}"
                                    data-timetable-result-id="{{ view.timetable_result_id }}"
                                    data-timetable-result-detail-id="{{ view.timetable_result_detail_id }}"
                                    data-instructor-id="{{ view.instructor_id }}"
                                    data-classroom-id="{{ view.room_id }}"
                                    data-start-time="{{ view.start_time }}"
                                    data-end-time="{{ view.end_time }}"
                                    data-meeting-day="{{ view.meeting_day }}"
                                    data-course-code="{{ view.course_code }}"
                                    data-is-online-meeting="{{ view.is_online_meeting }}"
                                    data-result-identification="{{ view.result_identification }}">
                              <h3 class="m-0 text-base font-bold text-center">{{ view.course_code }}</h3>
                              <p class="m-0 text-sm font-bold text-center">{{ view.meeting_time }}</p>
                              <p class="m-0 text-xs text-center">{{ view.room_name }}</p>
                              <p class="m-0 text-xs text-center">{{ view.class_group_name }}</p>
                              <p class="m-0 text-sm hidden">{{ view.meeting_day }}</p>
                            </button>
                          {% endfor %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  {% compress js %}
                    <script>
                document.addEventListener('DOMContentLoaded', function() {
          document.body.addEventListener('click', function(event) {
            const assignButton = event.target.closest('.timetable-entry');
            if (assignButton) {
              const timetableId = assignButton.getAttribute('data-timetable-result-id');
              const timetableDetailId = assignButton.getAttribute('data-timetable-result-detail-id');
              document.getElementById('timetable-result-id').value = timetableId;
              document.getElementById('timetable-detail-result-id').value = timetableDetailId;
            }
          });
        
          const dayMap = {
            'Monday': 2,
            'Tuesday': 3,
            'Wednesday': 4,
            'Thursday': 5,
            'Friday': 6,
            'Saturday': 7
          };
        
          const timeMap = {
            '07:00 AM': 2,
            '07:30 AM': 3,
            '08:00 AM': 4,
            '08:30 AM': 5,
            '09:00 AM': 6,
            '09:30 AM': 7,
            '10:00 AM': 8,
            '10:30 AM': 9,
            '11:00 AM': 10,
            '11:30 AM': 11,
            '12:00 PM': 12,
            '12:30 PM': 13,
            '01:00 PM': 14,
            '01:30 PM': 15,
            '02:00 PM': 16,
            '02:30 PM': 17,
            '03:00 PM': 18,
            '03:30 PM': 19,
            '04:00 PM': 20,
            '04:30 PM': 21,
            '05:00 PM': 22,
            '05:30 PM': 23,
            '06:00 PM': 24,
            '06:30 PM': 25,
            '07:00 PM': 26,
            '07:30 PM': 27,
            '08:00 PM': 28
          };
        
          const entries = document.querySelectorAll('.timetable-entry');
          entries.forEach(entry => {
            const days = entry.getAttribute('data-days') ? entry.getAttribute('data-days').split(',') : [];
            
            if (entry.id === 'cards' && !days.length) {
              entry.style.display = 'none';
              return;
            }
        
            const time = entry.getAttribute('data-time') || '';
            const roomName = entry.getAttribute('data-room-name') || 'null';
            const h3Element = entry.querySelector('h3');
            const courseCode = h3Element ? h3Element.textContent.trim() : '';
        
            if (!courseCode || !time) {
              console.log(`Missing days for course: ${courseCode} in room: ${roomName}`);
              return;
            }
        
            const [startTime, endTime] = time.split(' - ');
            days.forEach(day => {
              const trimmedDay = day.trim();
              if (dayMap[trimmedDay]) {
                const newEntry = entry.cloneNode(true);
                newEntry.style.gridColumnStart = dayMap[trimmedDay];
                newEntry.style.gridRowStart = timeMap[startTime.trim()];
                newEntry.style.gridRowEnd = `span ${timeMap[endTime.trim()] - timeMap[startTime.trim()]}`;
        
                document.getElementById('timetable').appendChild(newEntry);
              }
            });
        
            entry.remove();
          });
        });
                    </script>
                  {% endcompress js %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% compress js %}
    <script src="{% static 'js/assignNewCourse.js' %}"></script>
  {% endcompress %}
{% endblock content %}
