{% load static %}
{% load allauth i18n %}
{% load compress %}
<div id="add-class-group"
     class="transition-opacity hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto"
     role="dialog"
     tabindex="-1">
  <div class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
    <div class="w-full flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
      <div class="p-4 overflow-y-auto">
        <div class="flex justify-between items-center">
          <div>
            <h2 class="text-xl font-bold text-gray-800">Add Class Set</h2>
          </div>
          <button type="button"
                  class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
                  aria-label="Close"
                  data-hs-overlay="#add-class-group">
            <span class="sr-only">Close</span>
            <svg class="shrink-0 size-4"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
          </button>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="max-full">
            <label for="program_name" class="block text-sm font-medium my-2">Program</label>
            <select name="program_name"
                    required
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none">
              <option value="" selected disabled>Select Program</option>
              {% for program in programs %}
                <option value="{{ program.program_code }}">{{ program.program_name }} ({{ program.program_code }})</option>
              {% endfor %}
            </select>
            <p id="add-class-group-helper" class="text-xs mt-2 text-red-600"></p>
            <label for="year_level" class="block text-sm font-medium my-2">Year Level</label>
            <select name="year_level"
                    required
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none">
              <option value="" selected disabled>Select Year Level</option>
              <option value="1">1st Year</option>
              <option value="2">2nd Year</option>
              <option value="3">3rd Year</option>
              <option value="4">4th Year</option>
            </select>
          </div>
          <div class="flex justify-end items-center gap-x-2 mt-4">
            <button type="button"
                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                    data-hs-overlay="#add-class-group">Cancel</button>
            <button type="submit"
                    name="AddClassGroupSubmit"
                    id="submit_button"
                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% compress js %}
<script>
document.getElementById('class_group_name').addEventListener('input', function() {
    const className = this.value.replace(/\s+/g, '').toLowerCase();
    const submitButton = document.getElementById('submit_button');
    const helperText = document.getElementById('add-class-group-helper');
    const resultIdentification = "{{ result_identification }}";

    if (className.length > 0) {
        const cachedClassGroups = localStorage.getItem(`class_groups_${resultIdentification}`);
        if (cachedClassGroups) {
            checkClassGroups(JSON.parse(cachedClassGroups));
        } else {
            fetch(`/api/v2/class-groups/${resultIdentification}/`)
                .then(response => response.json())
                .then(data => {
                    localStorage.setItem(`class_groups_${resultIdentification}`, JSON.stringify(data.class_groups));
                    checkClassGroups(data.class_groups);
                })
                .catch(error => {
                    console.error('Error fetching class groups:', error);
                });
        }
    } else {
        submitButton.disabled = false;
        helperText.textContent = '';
    }

    function checkClassGroups(classGroups) {
        const classGroupExists = classGroups.some(group => group.class_group_name.replace(/\s+/g, '').toLowerCase() === className);
        if (classGroupExists) {
            submitButton.disabled = true;
            helperText.textContent = 'Class group already exists.';
        } else {
            submitButton.disabled = false;
            helperText.textContent = '';
        }
    }
});
</script>
{% endcompress js %}